/* content.css */
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  
  .highlight-overlay {
    position: absolute;
    border: 2px solid rgb(173, 44, 190);
    pointer-events: none; /* Ensure it does not interfere with mouse events */
    z-index: 10000; /* Ensure it is on top of other elements */
    transition: all 0.3s ease;
    opacity: 1;
    border-radius: 5px; /* Adjust the border radius as needed */
    box-shadow: 0 0 10px 5px rgba(212, 52, 204, 0.5); /* Adjust the shadow as needed */
    background-color: rgba(230, 164, 220, 0.1); /* Adjust the color as needed */
    animation: blink 1s infinite; /* Apply the blink animation */
  }
  